header {
    display: flex;
    background-color: var(--green);
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.links {
    width: 30%;
}

.brugerMenu {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 0.5rem;
}

.links a {
    color: var(--white);
    padding: 0 1rem;
    text-decoration: none;
    font-family: 'Rosario', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.links a:hover {
    color: var(--lightGreen);
    text-decoration: underline;
}

.svger {
    display: flex;
    width: 30%;
    justify-content: flex-end;
}

.svger div {
    padding: 0 1rem;
}

.svger .open {
    cursor: pointer;
}

.links_box {
    margin-left: -570px;
    transition: all .9s;
    opacity: 0;
    position: absolute;
}