.heroText {
    height: 500px;
    overflow: hidden;
}

.heroText h1 {
    color: var(--white);
    font-family: 'Patrick Hand', cursive;
    position: relative;
    padding: 2rem 2rem;
    top: -300px;
    text-align: center;
}