.allProductHeader {
    padding: 4rem;
    width: 38%;
    margin: auto;
}

.allProductHeader h1 {
    text-align: center;
    margin-bottom: 1rem;
    font-family: 'Patrick Hand', cursive;
    font-size: 3rem;
}

.allProductHeader p {
    font-family: 'Rosario', sans-serif;
}

.sortingContainer {
    width: 100%;
    background-color: var(--lightGreen);
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: end;
}

.sortingContainer select {
    border: none;
    background: var(--white);
    padding: 0.3rem;
    font-family: 'Rosario', sans-serif;
}

.sortingContainer .brugerMenu svg {
    padding-top: 1px;
}

.mobileFilterContainer {
    background: var(--lightGreen);
    width: 100%;
    padding: 1rem 2rem;
    position: absolute;
    margin-left: -770px;
    transition: all .9s;
    opacity: 0;
}

.filterContainer {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
}

.filter {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.filter h2 {
    font-family: 'Patrick Hand', cursive;
    text-decoration: underline var(--green);
    text-decoration-thickness: 0.1em;
    text-underline-offset: 0.3em;
}

.filter label {
    font-family: 'Rosario', sans-serif;
    display: flex;
    gap: 0.5rem;
}

.filter input {
    width: 2rem;
}

/* -------------------------------------------------- */
/* ---------- Responsive (Ipad and Mobile) ---------- */
/* -------------------------------------------------- */

@media screen and (max-width: 1112px) {
    .allProductHeader {
        width: 48%;
    }
}

@media screen and (max-width: 928px) {
    .allProductHeader {
        width: 58%;
    }
}

@media screen and (max-width: 768px) {
    .allProductHeader {
        width: 68%;
        padding: 3rem;
    }

    .sortingContainer {
        justify-content: space-between;
    }
    
    .sortingContainer .brugerMenu {
        display: block !important;
    }

    .filterContainer {
        display: none;
    }
}

@media screen and (max-width: 654px) {
    .allProductHeader {
        width: 78%;
        padding: 2rem;
    }
}

@media screen and (max-width: 494px) {
    .allProductHeader {
        width: 88%;
        padding: 1rem;
    }

    .allProductHeader h1 {
        font-size: 2rem;
    }
}